#
#   Пример конфигурационного файла для tv_grab_ru_yatv
#
{
    "defaultPrgTimeOffset" : 0, # смещение времени в часах для пересчёта дат в передачах по умолчанию. Применяется ко всем каналам, для которых смещение не указано в конфиге (= None). (0, 2, -3 и пр.)
    "userRegion" : None,        # регион программы для tv.yandex.ru. Если None, то не добавляется в запрос
    "duration" : 7,             # длительность программы в днях
    "startDayOffset" : 0,       # смещение времени начала программы в днях (0 - с сегодняшнего дня, 1 - завтра, 2 - послезавтра и пр.)
    "timeZone" : "+03:00",      # таймзона для запроса. Учитывается сервером для определения времени начала программы
    "chansPerRequest" : 3,      # кол-во каналов в одном запросе (больше - меньше запросов к серверу, но и больше потребление памяти)
    "chansLogos" : True,        # добавлять в XMLTV ссылки на логотипы каналов (<icon>)
    "chansLogosURL" : None,     # если задана URL, то при добавлении ссылок на логотипы каналов (<icon>) URL создается след. образом: <chansLogosURL><channel-id><chansLogosExt>. Для добавления в XMLTV собственных лого каналов. Если None - ссылки на логотипы берутся с tv.yandex.ru
    "chansLogosExt" : ".jpg",   # расширение для файлов пользовательских логотипов каналов
    "additionalTags" : True,    # добавлять в XMLTV дополнительные тэги передач. Если выставить в False, то размер программы значительно сократится.
    "additionalTagsDict" : {    # дополнительные тэги передач. tvheadend показывает в EPG только: <desc>, <category>, <icon>
        "desc" : True,
        "credits" : False,
        "date" : False,
        "category" : True,
        "icon" : True,
        "country" : False,
    },
    "XMLTVIdSuffix" : ".yatv",  # суффикс добавляется к XMLTV-id каналов. Можно использовать при составлении XMLTV из разных источников, чтобы не повторялись числовые id. C цифровыми id граббер не проходит валидацию (XMLTV id д.б. в DNS-подобном синтаксисе: 146.yatv и пр.)
    "channelsFromTvh" : False,  # брать каналы из конфигурации tvheadend вместо каналов из конфига
    "tvhChannelsDir" : "/home/hts/.hts/tvheadend/channel/config",   # директория с конфигами каналов tvheadend
    "replaceCategories" : True, # замена категорий передач для tvheadend (чтобы отображались в EPG)
    "proxies" : None,           # прокси сервер для граббера. Прим.: "proxies" : {"http" : "http://192.168.0.1:8080", "https" : "http://192.168.0.1:8080"}
    "channelsIds" : {           # id необходимых каналов. если не укзаны ({}), то запрашиваются все каналы
        "146" : None,
        "82" : None,
        "529" : None,
        "765" : None,
    },
    "channelsTitles" : {        # то же, что и channelsIds, но вместо id названия каналов. По названиям граббер сам найдёт id в данных с сервера, если есть совпадения (регистр не важен)
        "TV-5" : None,
        "CBS Reality" : None,
        "Nickelodeon" : None,
        "Fox" : 2,              # время передач канала Fox пересчитывается со смещением 2 (+2 часа ко времени передач). Можно задавать отрицательные значения: -2 и т.д.
        "Hollywood HD" : None,
    },
}
